$root-url: './' !default;

@import './fonts.scss';
@import './colors';
@import './utils';
@import './images';

$letter-spacing-base: 0.07em;
$control-box-shadow: inset 1px 1px 2px $color-one-semiwhite;
$control-box-shadow-focus: inset 0 1px 1px $color-one-semiwhite, 0 0 8px rgba($color-one-blue-gray, 0.2);
$collapse-transition-time: .2s;
$height-collapse-transition: max-height $collapse-transition-time linear;
$collapse-transition: $height-collapse-transition, padding $collapse-transition-time linear, opacity $collapse-transition-time linear;


@import './bootstrap-config';
@import './common';
@import './ember-power-select-overrides';
@import './spin-spinner-extensions';

// Global layout
@import './application-layout';

// Component styles
@import './components/content-index';
@import './components/one-checkbox';
@import './components/page-footer';
@import './components/page-header';
@import './components/query-parameters';
@import './components/query-results';
@import './components/resource-load-error';
