/// Import OpenSans Regular
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'),
       url($root-url + 'fonts/opensans/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/// Import OpenSans Semibold
@font-face {
  font-family: 'Open Sans Semibold';
  src: local('Open Sans Semibold'), local('OpenSans Semibold'), local('OpenSansSemibold'),
       url($root-url + 'fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/// Import OpenSans Bold
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'),
       url($root-url + 'fonts/opensans/OpenSans-Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/// Import Oneicons
$icomoon-font-path: $root-url + 'fonts/oneicons/fonts';
@import 'oneicons/style';
