$logo-images-height: 50px;

.logo {
  height: $logo-images-height;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ecrin-logo {
  width: 2 * $logo-images-height;
  background-image: url($root-url + 'images/ecrin-logo.jpg');
}

.xdc-logo {
  width: 1.65 * $logo-images-height;
  background-image: url($root-url + 'images/xdc-logo.png');
}

.eosc-logo {
  width: 2.99 * $logo-images-height;
  background-image: url($root-url + 'images/eosc-logo.png');
}

.onedata-logo {
  width: 3.2 * $logo-images-height;
  background-image: url($root-url + 'images/onedata-logo.svg');
}
