$root-url: './' !default;

@import './fonts.scss';
@import './colors';
@import './utils';
@import './images';

$letter-spacing-base: 0.07em;
$control-box-shadow: inset 1px 1px 2px $color-one-semiwhite;
$control-box-shadow-focus: inset 0 1px 1px $color-one-semiwhite, 0 0 8px rgba($color-one-blue-gray, 0.2);
$collapse-transition-time: .2s;
$height-collapse-transition: max-height $collapse-transition-time linear;
$collapse-transition: $height-collapse-transition, padding $collapse-transition-time linear, opacity $collapse-transition-time linear;


@import './bootstrap-config';
@import './common';

// Global layout
@import './application-layout.scss';

// Component styles
@import './components/one-checkbox.scss';
@import './components/page-header.scss';
@import './components/query-parameters.scss';
@import './components/query-results.scss';
