strong {
  font-weight: normal;
  font-family: "Open Sans Semibold";
}

.vertical-align-middle {
  @include vertical-align-middle();
}

.absolute-align-middle-center {
  @include absolute-align-middle-center();
}

.full-height {
  height: 100%;
  overflow-y: auto;
}

.full-width {
  width: 100%;
}

.no-padding {
  padding: 0 !important;
}

.no-transition {
  transition: none !important;
}

.clickable {
  @include clickable();
}

.scrollable {
  overflow: auto;
}

.transparent {
  opacity: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.semibold {
  font-family: 'Open Sans Semibold';
}

.relative {
  position: relative;
}

.break-word {
  word-wrap: break-word;
}

@mixin oneicon-content($glyph) {
  content: unquote("\"#{$glyph}\"");
}

.btn {
  outline: none !important;
  .oneicon {
    position: relative;
    left: -0.2em;
    font-size: 2em;
  }
}

.collapse-animation {
  max-height: 99999em;
  opacity: 1;
  transition: $collapse-transition;
  &.collapse-small {
    max-height: 1000px;
  }
  &.collapse-medium {
    max-height: 2500px;
  }
  &.collapse-hidden {
    max-height: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    opacity: 0 !important;
  }
  &.collapse-hidden.collapse-blurred {
    opacity: 0.4 !important;
    pointer-events: none;
    user-select: none;
  }
}

a {
  color: $color-one-mint;
  &:hover {
    color: darken($color-one-mint, 20%);
  }
  &.black {
    color: $main-text-color;
    text-decoration: underline;
    &:hover {
      color: darken($color-one-mint, 20%);
    }
  }
}

