// SCSS utils
@mixin fill-container() {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin vertical-align-middle() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-align-middle-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@mixin fill-align-middle-center() {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@mixin clickable() {
  cursor: pointer;
}
