.checkbox-filter {
  .top-bar {
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-bottom: $padding-base-vertical;

    .items-filter {
      flex-grow: 1;
      margin-right: $padding-small-horizontal;
    }
  }

  .items-list {
    list-style-type: none;
    padding: 0;
    font-size: 90%;
    max-height: 150px;
    overflow: auto;
  }

  .checkbox-item {
    display: flex;
  }

  .one-checkbox {
    margin-left: $padding-small-horizontal;
    flex-shrink: 0;
  }

  .item-name {
    min-width: 0;
    flex-grow: 1;
  }
}
