.content-index {
  @media (min-width: $screen-sm-min) {
    display: flex;
    flex-direction: column;
    
    .query-parameters {
      flex-grow: 0;
      flex-shrink: 0;
    }

    .query-content {
      display: flex;
      flex-grow: 1;
      align-items: stretch;
      min-height: 0;
    }

    .query-results-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: stretch;
      min-width: 0;
    }

    .data-filters {
      min-width: 0;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 300px;
      margin-right: $padding-small-horizontal;
    }

    .query-results {
      flex-grow: 1;
      min-height: 0;
    }
  }

  @media (max-width: $screen-xs-max) {
    .query-parameters, .data-filters {
      margin-bottom: $padding-base-vertical;
    }
  }
}
