.page-header {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  min-height: $logo-images-height;

  .nav-column {
    position: absolute;
    right: 0;
  }

  .header-link {
    margin-left: $padding-small-horizontal;
    font-weight: bold;
    text-decoration: none;
  }
}
