.query-parameters {
  display: flex;

  @media (min-width: $screen-sm-min) {
    .study-filters {
      flex-grow: 1;
      display: flex;
      min-width: 0;
    }

    .form-group {
      margin-bottom: $padding-base-vertical;
      margin-right: $padding-small-horizontal;
      flex-grow: 1;
    }

    .find-button-group {
      flex-shrink: 0;
      margin-top: $line-height-computed + 5px;
    }

    .mode-group,
    .study-id-type-group,
    .study-title-topic-operator-group {
      flex-grow: 0;
      flex-shrink: 0;
    }

    .mode-group {
      flex-basis: 205px;
    }

    .study-id-type-group {
      flex-basis: 350px;
    }

    .study-title-topic-operator-group {
      flex-basis: 100px;
    }
  }

  @media (max-width: $screen-xs-max) {
    flex-direction: column;

    .find-button-group {
      align-self: flex-end;
    }
  }
}
