.query-results {
  height: 400px;
  overflow-y: scroll;

  .panel {
    margin-bottom: $padding-small-vertical;
  }

  .data-row:nth-child(odd) {
    .panel-body {
      background-color: $panel-default-heading-bg;
    }
  }

  .data-row:nth-child(even) {
    .panel-heading {
      background-color: $color-one-white;
    }
  }

  .panel-heading {
    padding: $padding-base-vertical $padding-base-horizontal;
  }

  .panel-body {
    padding: $padding-base-vertical $padding-base-horizontal;
  }

  .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0;
  }
}
