.query-results {
  .panel {
    margin-bottom: $padding-small-vertical;
  }

  .data-row:nth-child(odd) {
    .panel-body, .panel-heading {
      background-color: $panel-default-heading-bg;
    }
  }

  .data-row .panel-heading:hover {
    background-color: darken($panel-default-heading-bg, 5%);
  }

  .panel-heading {
    padding: $padding-base-vertical 100px $padding-base-vertical $padding-base-horizontal;
    a:hover {
      color: $main-text-color;
    }
  }

  .panel-body {
    padding: $padding-base-vertical $padding-base-horizontal;
    height: 250px;
    overflow-y: scroll;
  }

  .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0;
  }

  .query-results-result {
    position: relative;
  }

  .result-actions {
    position: absolute;
    top: $padding-base-vertical - 3px;
    right: $padding-base-horizontal;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .result-action {
    display: inline-block;
    color: $main-text-light-color;
    cursor: pointer;
    .one-icon {
      font-size: 1.7em;
    }
    &:hover {
      color: $main-text-color;
    }
  }

  .data-object-record {
    display: flex;

    + .data-object-record {
      padding-top: $padding-base-vertical;
    }
  }

  .data-object-type, .data-object-year, .data-object-status {
    flex-shrink: 0;
  }

  .data-object-type {
    flex-basis: 10em;
    @media (max-width: $screen-xs-max) {
      width: 7em;
    }
  }

  .data-object-description {
    flex-grow: 1;
    color: $main-text-light-color;
    padding-left: $padding-small-horizontal;
    padding-right: $padding-small-horizontal;
    word-break: break-all;
    p {
      margin-bottom: $padding-small-vertical;
    }
  }

  .data-object-year {
    flex-basis: 4em;
    color: $main-text-light-color;
    @media (max-width: $screen-xs-max) {
      width: 3em;
    }
  }

  .data-object-status {
    flex-basis: 30px;
    text-align: left;
  }

  .data-object-status-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    vertical-align: middle;
    &.unknown {
      background-color: $main-text-light-color;
    }
    &.red {
      background-color: $color-one-danger;
    }
    &.yellow {
      background-color: $color-one-warning;
    }
    &.green {
      background-color: $color-one-success;
    }
  }

  .data-object-checkbox {
    .one-checkbox {
      vertical-align: middle;
    }
  }

  .loading-inner-spinner {
    display: inline-block;
    vertical-align: middle;
  }

  .load-more {
    margin-top: $padding-base-vertical;
  }

  .studies-list-header {
    margin-bottom: $padding-base-vertical;
    font-family: 'Open Sans Semibold';
  }

  .result-actions {
    .expand-action .one-icon {
      font-weight: bold;
    }

    .remove-action:hover {
      color: $color-one-danger;
    }
  }

  .study-info .data-object-type {
    font-style: italic;
  }

  @media (min-width: $screen-sm-min) {
    display: flex;
    flex-direction: column;

    .studies-list-header {
      flex-grow: 0;
    }

    .studies-list {
      flex-grow: 1;
      min-height: 0;
      overflow: auto;
    }
  }

  @media (max-width: $screen-xs-max) {
    .data-object-record {
      flex-wrap: wrap;
    }
  }
}
