.query-results {
  height: 400px;
  overflow-y: scroll;

  .panel {
    margin-bottom: $padding-small-vertical;
  }

  .data-row:nth-child(even) {
    .panel-heading {
      background-color: $color-one-white;
    }
  }

  .panel-heading {
    padding: $padding-base-vertical $padding-base-horizontal;
  }
}
