<h2>{{tt this "header"}}</h2>

{{!-- NOTICE: Content of this file is not handled by translations mechanism due
  to its size. To introduce another language, use hbs if-else with checking which
  language is active and render proper version of this page. --}}

<h3>
  Content of The Metadata Repository (MDR)
</h3>

<p>
  The Metadata Repository (MDR) web page contains metadata from clinical studies/clinical trials and related data objects (e.g. publications, datasets, documents, reports, case report forms, etc.). which are stored in different data sources. The actual version covers the following data sources: Clinicaltrials.gov, Pubmed, BioLINCC and Yoda.
</p>
<p>
  Please note that this database is intended for informational purposes only. ECRIN accepts no responsibility or liability whatsoever with regard to the information on this website.
</p>
<p>
  While every effort is made to provide accurate and complete information, ECRIN cannot guarantee that this website is free of inaccuracies and reflects the most up-to-date versions. If errors are brought to our attention, we will try to correct them. ECRIN cannot be held responsible for the information, views and documents contained in these databases.
</p>
<p>
  Most of the information on the MDR website is in the public domain and can be used without restriction, there may be, however, restrictions according to access conditions and licences of individual data sources (see for example terms and conditions for individual data sources in the project wiki: http://ecrin-mdr.online). Consequently, users of MDR are invited to read this disclaimer thoroughly as well as the terms and conditions of use applicable to the data source referred to on the MDR website. In particular, users should:
  <ul>
    <li>
      Attribute the source of the data
    </li>
    <li>
      Update the data such that they are current at all times
    </li>
    <li>
      State any modifications made to the content of the data, along with a complete description of the modifications
    </li>
  </ul>
</p>

<h3>
  Personal data
</h3>

<p>
  Although we haven't published any personal data on the Metadata Repository (MDR) website, please note that the MDR website may provide links to third-party sites or to publications which may contain personal data.
</p>
<p>
  Please note that ECRIN accepts no responsibility or liability whatsoever with regard to the information on the to third-party sites. They have developed their own policy with respect to the GDPR and their own terms and conditions. When you click on links to visit third-party websites/ to access these resources, you may need to accept their specific terms and conditions and cookie policies as ECRIN has no control over their data privacy policies.
</p>
<p>
  Written queries may be addressed to: ECRIN-ERIC 5–7 rue Watt, 75013 Paris, France. You can also email us at <a href="mailto:contact@ecrin.org">contact@ecrin.org</a>.
</p>

<h3>
  Legal validity of this disclaimer
</h3>
<p>
  If sections or individual terms of this statement are not legal or correct, the content or validity of the other parts remain unaffected by this fact. This disclaimer is not intended to limit the liability of ECRIN in contravention of any requirements laid down in applicable law nor to exclude its liability for matters which may not be excluded under that law.
</p>
