{{query-parameters
  studySearchParams=studySearchParams
  onChange=(action "parameterChanged")
  onFind=(action "find")
  onFilter=(action "filter")}}
<div class="query-content">
  {{data-filters
    dataObjects=dataObjects
    onFilterDataObjects=(action "filterDataObjects")
  }}
  {{query-results
    studies=studies
    queryParams=queryParams
    removeStudies=(action "removeStudies")
    loadDataObjectsForStudies=(action "loadDataObjectsForStudies")}}
</div>
{{yield}}
