{{query-parameters
  studySearchParams=studySearchParams
  onChange=(action "parameterChanged")
  onFind=(action "find")}}
<div class="query-content">
  {{data-filters
    dataObjects=dataObjects
    onFilterStudies=(action "filterStudies")
    onFilterDataObjects=(action "filterDataObjects")
  }}
  {{#query-results
    studies=studies
    removeStudies=(action "removeStudies")}}
    {{promise-proxy-container proxy=fetchDataPromiseObject isLoading=false}}
  {{/query-results}}
</div>
{{yield}}
