{{query-parameters
  isFetchingData=isFetchingData
  studySearchParams=studySearchParams
  onChange=(action "parameterChanged")
  onFind=(action "find")}}
<div class="query-content">
  {{data-filters
    isFetchingData=isFetchingData
    dataObjectPublisherMapping=dataObjectPublisherMapping
    onFilterStudies=(action "filterStudies")
    onFilterDataObjects=(action "filterDataObjects")
  }}
  {{#query-results
    isFetchingData=isFetchingData
    studies=studies
    removeStudies=(action "removeStudies")
    saveResults=(action "saveResults")
    loadSavedResultsList=(action "loadSavedResultsList")
    loadSavedResults=(action "loadSavedResults")}}
    {{promise-proxy-container proxy=fetchDataPromiseObject isLoading=false}}
  {{/query-results}}
</div>
{{yield}}
