<div class="col-xs-6">
  {{#if isLogoVisible}}
    <div class="ecrin-logo">
      {{bs-tooltip placement="right" title=(tt this "ecrinLogoDescription")}}
    </div>
  {{/if}}
</div>
<div class="col-xs-6 text-right nav-column vertical-align-middle">
  <a class="header-link help-link black" href="#">{{tt this "helpLink"}}</a>
  <a class="header-link about-link black" href="#">{{tt this "aboutLink"}}</a>
</div>
