<h1><span class="app-logo">MDR</span> <small>Metadata Repository for clinical trial data objects</small></h1>
<div>
  {{!-- TODO: add content related to links below --}}
  {{!-- <a class="header-link help-link black" href="#">{{tt this "helpLink"}}</a>
  <a class="header-link about-link black" href="#">{{tt this "aboutLink"}}</a> --}}
</div>
