{{!-- NOTICE: Content of this file is not handled by translations mechanism due
  to its size. To introduce another language, use hbs if-else with checking which
  language is active and render proper version of this page. --}}

<p>
  The system contains over a 100 different 'object types' and these are used to label the data object entries in the display. This is too many categories to easily filter, however, so the different object types are allocated to different filter groups – which is the list displayed in the data object 'filter by type' box.
</p>
<p>
  The different options available are defined below. (Note that many of the text options are as defined in the CASRAI scheme.
</p>
<p>
  <em>Trial registry entry</em><br/>
  A summary of the study, its organisation and aims, posted prospectively or retrospectively to a public registry.
</p>
<p>
  <em>Registry results summary</em><br/>
  A summary of study results, as displayed in a trial registry.
</p>
<p>
  <em>Journal article</em><br/>
  Can refer to:
  <ul>
    <li>An article in a peer-reviewed publication;</li>
    <li>A journal article abstract;</li>
    <li>A special journal issues;</li>
    <li>A pre-print or working paper;</li>
    <li>A group of journal articles.</li>
  </ul>
</p>
<p>
  <em>Study protocol</em><br/>
  Can refer to:
  <ul>
    <li>A Study protocol: a structured document describing the study, its rationale, methodology, outcome measures etc;</li>
    <li>A redacted study protocol;</li>
    <li>A protocol combined with statistical analysis plan (SAP);</li>
    <li>A protocol combined with informed consent forms (ICGs);</li>
    <li>A protocol with both SAP and ICFs.</li>
  </ul>
</p>
<p>
  <em>Study overview</em><br/>
  A brief overview of the study, which may be an abridged protocol, or as used within the study web site or other study documents
</p>
<p>
  <em>Patient consent / information forms</em><br/>
  Refers to informed consent forms, as given to participants to formally record their informed consent to study participation, and / or patient information sheets, the information provided to study participants as part of the consenting process.
</p>
<p>
  <em>Data collection forms</em><br/>
  Can refer to:
  <ul>
    <li>Data collection forms – i.e. copies, in electronic and / or paper form, of the case report forms (CRFs and / or eCRFs) used for collecting data.</li>
    <li>Annotated copies of CRFs / eCRFs;</li>
    <li>Standard instruments: standardised rating instruments, including questionnaires.</li>
  </ul>
</p>
<p>
  <em>Manual of procedures</em><br/>
  Can refer to 'Manual of Operations' or 'Manual of Procedures', i.e. descriptions of specific operations, workflow, procedures and techniques within the study.
</p>
<p>
  <em>Statistical analysis plan</em><br/>
  Can refer to:
  <ul>
    <li>A statistical analysis plan: the details of the proposed analysis for the study, listing the individual descriptive statistics and tests of inference, and their parameters;</li>
    <li>Analysis notes: a summary of the analysis carried out and / or any caveats to be borne in mind when interpreting results;</li>
    <li>A redacted SAP.</li>
  </ul>
</p>
<p>
  <em>Clinical study report</em><br/>
  Can refer to:
  <ul>
    <li>A clinical study report (CSR) – a full end of study report with detailed efficacy and safety results;</li>
    <li>A redacted clinical study report;</li>
    <li>A summary CSR</li>
    <li>An unpublished Study Report: A report of a study, or part of a study, not formally published (may be an internal interim document within a long term study)</li>
  </ul>
</p>
<p>
  <em>Data description</em><br/>
  Can refer to:
  <ul>
    <li>A database specification: the functional specification of the database including details of individual data items, types, ranges, logic checks, etc.;</li>
    <li>A data dictionary – a detailed, item by item, description of the data points in the dataset;</li>
    <li>A data overview – a summary of the data indicating the nature of different tables, time points of data etc;</li>
    <li>A data collection schedule;</li>
    <li>A data coding manual.</li>
  </ul>
</p>
<p>
  <em>Individual participant data</em><br/>
  Refers to all forms of individual participant data (IPD). In some cases the nature of the IPD may be further specified if it applies to a particular population or time point, if that information is known. Also refers metadata directly associated with IPD and grouped analysis datasets.
</p>
<p>
  <em>Aggregated data</em><br/>
  Refers to all forms of 'standalone' aggregated result datasets (i.e. not in a CSR or journal paper). In some cases the nature of the aggregated data may be further specified if it applies to a particular population or time point, if that information is known. It also includes metadata associated directly with the aggregated results and grouped aggregate datasets.
</p>
<p>
  <em>Other study resource</em><br/>
  This includes a wide variety of other study related documents. They have been grouped together not because they are less important than other object types, but because it is relatively rare, currently, to find them publicly listed. They include:
  <ul>
    <li>Ethics submission and / or ethics approval notification;</li>
    <li>Regulatory authority submission; and / or approval notification;</li>
    <li>Data management plan;</li>
    <li>Data monitoring committee report;</li>
    <li>Trial master file contents list, and / or a description of the document set;</li>
    <li>Investigational Product Information;</li>
    <li>Definitions of terms;</li>
    <li>Literature Review, and / or bibliography, and / or a general background to research topic;</li>
    <li>Publication List;</li>
    <li>List of web links.</li>
  </ul>
</p>
<p>
  <em>Conference material</em><br/>
  This can refer to a conference abstract, or a conference paper, or a conference poster, or a conference programme.
</p>
<p>
  <em>Other article</em><br/>
  Can refer to a magazine article, a newsletter article or a newspaper article.
</p>
<p>
  <em>Book or chapter</em><br/>
  Can refer to a book, a book chapter, a book prospectus, a book review, a book series or an edited book.
</p>
<p>
  <em>Other information resource</em><br/>
  These include higher degree dissertations and other supervised student publication, manuals produced for education and training purposes, online knowledge resources. It also includes official reports, e.g. from government agencies and research tools, such as bibliographies, indices and catalogues of research collections, lexicons, concordances and dictionaries.
</p>
<p>
  <em>Website</em><br/>
  A stand-alone locations on the web where multiple types of information on a specific theme are available. In the context of clinical research often a 'study site'.
</p>
<p>
  <em>Software</em><br/>
  Any of a variety of types of software found in clinical research. Could include script(s) used in analysis, CDMS (Clinical Data Management Systems), Trial Management Systems, eTMF; systems and data extraction systems.
</p>
<p>
  <em>Other</em><br/>
  All other object types not listed above fall within the 'Other' category. This includes all of the object types listed as 'Other' within each object class and all the remaining CASRAI defined text types, e.g. dictionary entry, encyclopaedia entry; disclosure notice, license, patent, registered copyright, tests etc. In general the numbers of such objects should be very low.
</p>
